.list {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0.5em 1em 1em;
  background-color: #37474F;
}

.list__item {
  align-self: center;
  margin: 1em;
}

.list__item > canvas {
  cursor: crosshair;
}

.list__item > canvas[data-dirty] {
  outline: 1px dashed;
  outline-offset: 3px;
}
